SUI_PRIVATE_KEY=
SUI_NETWORK=testnet
SUI_RPC_URL=
SUI_OWNER_ADDRESS=
WALRUS_SQL_PACKAGE_ID=0x630e7563985686b50d05d20b73e2603b10578bbe76ce51f8b82e65c83638fe95
WALRUS_SQL_CATALOG_ID=
WALRUS_SQL_TABLE_NAME=orders
WALRUS_SQL_TABLE_ID=
WALRUS_SQL_LEFT_TABLE=orders
WALRUS_SQL_RIGHT_TABLE=users
WALRUS_SQL_LEFT_TABLE_ID=
WALRUS_SQL_RIGHT_TABLE_ID=
WALRUS_SQL_LEFT_JOIN_FIELD=user_id
WALRUS_SQL_RIGHT_JOIN_FIELD=user_id
WALRUS_SQL_REPLAY_CACHE_FILE=.cache/replay-cache.json
